html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6a8bfd;
  /* background-color: #edf0f2; */
  min-height: 100%;
}





/* *Utility Classes */
.p-0 {
  padding: 0 !important;
}
.m-0 {
  margin: 0 !important;
}
.my-60 {
  margin: 60px 0px;
}


/* *For Navbar and Buttons */
.nav-wrapper {
  background: linear-gradient(90deg,#00c4cc,#7d2ae8);
}

nav ul a {
  padding: 0 6px;
}

.create-new {
  position: fixed;
  bottom: 20px;
  right: 10px;
}






form {
  padding: 20px;
  margin-top: 40px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}







/* *For Loader Component */
.loader {
  margin: 40px auto;
  text-align: center;
}








/* *For Notificaion Component */
.notifications {
  /* margin: 0; */
}
.notifications .collection {
  /* margin: 0; */
}
.notifications ul {
  border: none;
}
.notifications .collection-item {
  margin: .5rem 0 1rem 0;
  border-radius: 2px;
}







/* *For sigIn Component */
.signIn_form .progress, .signUp_form .progress {
  height: 10px;
  background-color: #ec407a;
  margin: 0 auto;
  /* width: 96%; */
  margin-bottom: -5px;
  z-index: -99;
  border-radius: 35px;
}
.progress .indeterminate {
  /* background-color: #e0e0e0; */
  background-color: #fff;
}
.signIn_form, .signUp_form {    
  border: 1px solid #ffffff;
  border-radius: 8px;
  overflow: hidden;
}
.signIn_btn, .signUp_btn {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}





/* *For ProjectDetails Component */
.delete-btn i {
  position: absolute;
  right: 6px;
  top: 6px;
  color: #9e9e9e;
  cursor: pointer;
  transition: all .3s;
}
.delete-btn i:hover {
  transform: scale(1.2);
  color: rgba(0, 0, 0, 0.87);
}
.update-btn {
  position: fixed;
  bottom: 20px;
  right: 10px;
  margin: 0 15px;
  z-index: 999;
}